@import url("https://fonts.googleapis.com/css?family=Domine:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");


#ac .sizechart-container {
  display: flex;
  flex-flow: column;
  width: 1140px;
}

#ac .sizechart-title {
  margin: 10px;
  font-family: "Domine", Roboto, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

#ac table {
  border-collapse: collapse;
  width: 1140px;
}

#ac th {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
}

#ac .faux-block td {
  border-right: 4px solid #ccc;
  width: 140px;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
}

#ac .sizechart td {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
}


#ac .sizechart td,
#ac .sizechart th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#ac .sizechart tr:nth-child(even) {
  background-color: #f2f2f2;
}


/**************** PAVs ******************/

#ac .pav-title {
  min-width: 1080px;
  max-height: 10px;
  margin: 20px;
  font-family: "Domine", Roboto, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

#ac .pav-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 1080px;
}

#ac .pav-units {
  display: flex;
  flex: row;
}

#ac .pav-unit {
  margin: 0px 80px 80px 80px;
}

#ac .ratings {
  display: flex;
  flex: row;
}

#ac .review-count {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 10px;
}

#ac .short-description,
#ac .price {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 14px;
}

#ac .star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}

#ac .star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}
